@model GuestBookApp.Models.RegistrationModel

<div class="container mt-5">
    <h1 class="text-center">Регистрация</h1>

    <form method="post" asp-action="Registration" class="mt-4">
        <div class="mb-3">
            <label for="LoginName" class="form-label">Логин</label>
            <input type="text" name="LoginName" asp-for="LoginName" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Пароль</label>
            <input type="password" name="Password" asp-for="Password" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Подтвердите пароль</label>
            <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
</div>
